.expand42 {
  width: 540px;
  height: 540px;
}

.heart297 {
  width: 544px;
  height: 544px;
}

.home153 {
  width: 547px;
  height: 547px;
}

.smartphone24 {
  width: 537px;
  height: 537px;
}

.star174 {
  width: 537px;
  height: 537px;
}

.warning39 {
  width: 478px;
  height: 478px;
}

